body {
  font-family: 'Poppins', sans-serif;
  /* background-color: #CED8DF; */
  background-color: #162739;
}
#heading{
  font-size: 32px;
  font-weight: 900;
}
.heading-ai{
  color: #DE2E7D;
}
.App-header{
  display: flex;
  height: 70vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.App-header h1{
  color: white;
}
.App-header h1 span{
  color: #DE2E7D;
  font-size: 40px;
}
.start{
  padding: 12px;
  width: 150px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: 900;
  cursor: pointer;
  background-color: #DE2E7D;
  color: white;
  border: 1px solid #DE2E7D;
}