body {
  font-family: 'Poppins', sans-serif;
  /* background-color: #CED8DF; */
  background-color: #162739;
}
#heading{
  font-size: 32px;
  font-weight: 900;
}
.heading-ai{
  color: #DE2E7D;
}
.App-header{
  display: flex;
  height: 90vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.App-header h1{
  color: white;
}
.App-header h1 span{
  color: #DE2E7D;
  font-size: 40px;
}
 button,.start{
  padding: 12px;
  width: 150px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: 900;
  cursor: pointer;
  background-color: #DE2E7D;
  color: white;
  border: 1px solid #DE2E7D;
  margin: 10px;
}
.app-header-welcome{
  font-size: 48px;
}
.app-header-welcome-p{
  color: white;
  font-size: 32px;
}


.welcome-section {
  position: relative; 
  text-align: center; 
  z-index: 2; 
}
.welcome-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./emotionai.png');
  background-size: cover;
  background-position:center;
  z-index: -1; 
  opacity: 0.5; 
}